*{
	padding: 0;
	margin: 0;
	font-family: arial;
}

body {
  padding: 0;
  margin: 0;
}

#logo {
	width: 25%;
	background-image: url(images/simplistic.png);
	background-size: 100%;
	background-position: center;
}

.menu {
	height: 100px;
	background: black;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu li {
	font-weight: 100;
	padding: 0;
	margin: 0;
	line-height: 320%;
	text-align: center;
	display: block;
	font-size: 30px;
	width: 15%;
	color: white;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
	float: left;
}

.menu a {
	margin: 0;
	padding: 0;
	color: white;
	text-decoration: none;
}

.menu li:hover {
	margin: 0;
	padding: 0;
	background-color: orange;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
}


#DropDownTable {
	position: absolute;
	text-align: center;
	line-height: 50px;
	margin: 0;
	padding: 0;
	height: 0;
	background-color: #473636;
	list-style: none;
	width: 15%;
	margin-left: 25%;
	transition: all 0.5s;
	overflow: hidden;
}

.tables {
	margin: 0; padding: 0;
	transition: all 1s;
}

.tables:hover {
	margin: 0; padding: 0;
	background-color: orange;
}

.tables a {
	color: white;
	text-decoration: none;
}

#DropDownProjects {
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #473636;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 40%;
	transition: all 0.5s;
}


#DropDownAbout {
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #473636;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 55%;
	transition: all 0.5s;
}

#DropDownLinks {
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #473636;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 70%;
	transition: all 0.5s;
}
