nav {
  background-color: #39342b;
  margin: auto;
  padding-bottom: 0px;
}

nav ul {
  margin: auto;
}

ul{
  	margin: auto;
	list-style: none;
	text-align: center
}

nav li {
	display: inline-block;
	text-align: center;
	width: 100px;
	border: 1px solid #39342b;
	padding: 100px;
	padding-bottom: 100px;
}

body {
	background-image: url(Background.png);
	font: bold 15px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		color: white;
}

li:hover {
	background-color: #E69318
}
img {
	width: 300px;
}
