.contentOnly {
	height: 500px;
	width: 100%;
	background-image: url(../images/searchWallpaper.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.placeholder {
	background-color: #342D2D;
	width: 100%;
}

.placeholderContent {
	width: 50%;
	margin: auto;
	padding: 100px;
	text-align: center;
	color: white;
}

.placeholderContent ul li {
	font-size: 30px;
}

.placeholder1 {
	background-color: #51B922;
	width: 100%;
}

.placeholderContent1 {
	width: 50%;
	margin: auto;
	padding: 100px;
	text-align: center;
	color: white;
}

.placeholderContent1 ul li {
	font-size: 30px;
}

#suche {
	background-image: url(../images/searchIcon.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	font-size: 200%;
	width: 50%;
	text-align: center;
	left: 25%;
	height: 10%;
	top: 25%;
}

/*.homeScreenMenu {
	float: left;
	margin: 10px;
	width: 100px; height: 100px;
	background-color: black;
}
*/
