.contentOnly {
	height: 500px;
	width: 100%;
	background-image: url(../images/searchWallpaper.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.placeholder {
	background-color: #342D2D;
	width: 100%;
}

.placeholder3 {
	background-image: url(../images/index.png), url(../images/index.png), url(../images/derserIMG.jpg);
	background-repeat: no-repeat;
	background-position: 30%, 70%;
	background-size: auto, auto, cover;
}

.placeholderContent {
	width: 50%;
	margin: auto;
	padding: 100px;
	text-align: center;
	color: white;
}

.placeholderContent ul li {
	font-size: 30px;
}

.placeholder1 {
	background-color: #51B922;
	width: 100%;
}

.placeholderContent1 {
	width: 50%;
	margin: auto;
	padding: 100px;
	text-align: center;
	color: white;
}

.placeholderContent1 ul li {
	font-size: 30px;
}

#suche {
	background-image: url(../images/searchIcon.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	font-size: 200%;
	width: 50%;
	text-align: center;
	left: 25%;
	height: 10%;
	top: 25%;
}

.button {
	line-height: 100px;
	background-color: #23292E;
	height: 100px;
	margin: 0 auto;
	width: 340px;
}

.button h1 {
	position: absolute;
	padding-left: 60px;
}

#hoveranimation {
	background-color: #00BA3A;
	position: absolute;
	height: 100px;
	transition: width 0.5s;
}

/*.homeScreenMenu {
	float: left;
	margin: 10px;
	width: 100px; height: 100px;
	background-color: black;
}
*/
