#aboutContent {
}

#InfoQuirin {
	background-color: orange;
	width: 90%;
	padding: 5%;
}

#InfoAaron {
	background-color: red;
	width: 90%;
	padding: 5%;
}

#InfoPeter {
	background-color: green;
	width: 90%;
	padding: 5%;
}