*{
	margin: 0; padding: 0;
	font-family: arial;
}

body {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}

#logo {
	margin: 0; padding: 0;
	width: 25%;
	background-image: url(../images/simplistic.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.MainMenu {
	position: fixed;
	height: 10%; width: 100%;
	background-color: red;
}

.menu {
	height: 100%;
	list-style-type: none;
	padding: 0; margin: 0;
}

.menu li {
	cursor: pointer;
	height: 100%;
	font-weight: 100;
	padding: 0;
	margin: 0;
	line-height: 200%;
	text-align: center;
	display: block;
	font-size: 30px;
	width: 15%;
	color: white;
	overflow: hidden;
	transition: all 1s;
	float: left;
}

.menu a {
	margin: 0;
	padding: 0;
	color: white;
	text-decoration: none;
}

.menu li:hover {
	margin: 0;
	padding: 0;
	background-color: orange;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
}

.tables {
	margin: 0; padding: 0;
	transition: all 0.5s;
}

.tables:hover {
	margin: 0; padding: 0;
	background-color: orange;
}

.nodec {
	color: white;
	text-decoration: none;
}

#DropDownTable {
	z-index: 2;
	left: 25%;
	height: 0;
	position: relative;
	background-color: white;
	list-style: none;
	width: 15%;
	transition: all 0.5s;
}

#DropDownProjects {
	z-index: 50;
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #DBD5D5;
	overflow: hidden;
	list-style: none;
	width: 15%;
	left: 40%;
	transition: all 0.5s;
}


#DropDownAbout {
	z-index: 50;
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #DBD5D5;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 55%;
	transition: all 0.5s;
}

#DropDownLinks {
	z-index: 50;
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #DBD5D5;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 70%;
	transition: all 0.5s;
}
