*{
	margin: 0; padding: 0;
	font-family: arial;
}

body {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

#logo {
	margin: 0; padding: 0;
	width: 25%;
	background-image: url(../images/simplistic.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.menu {
	height: 100px;
	background: red;
	list-style-type: none;
	box-shadow: 100px 100px 100px grey;
	padding: 0;
	margin: 0;
}

.menu li {
	font-weight: 100;
	padding: 0;
	margin: 0;
	line-height: 320%;
	text-align: center;
	display: block;
	font-size: 30px;
	width: 15%;
	color: white;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
	float: left;
}

.menu a {
	margin: 0;
	padding: 0;
	color: white;
	text-decoration: none;
}

.menu li:hover {
	margin: 0;
	padding: 0;
	background-color: orange;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
}

.tables {
	margin: 0; padding: 0;
	transition: all 0.5s;
}

.tables:hover {
	margin: 0; padding: 0;
	background-color: orange;
}

.nodec {
	color: white;
	text-decoration: none;
}

#DropDownTable {
	z-index: 50;
	position: absolute;
	text-align: center;
	line-height: 50px;
	margin: 0;
	padding: 0;
	height: 0;
	background-color: #DBD5D5;
	list-style: none;
	width: 15%;
	margin-left: 25%;
	transition: all 0.5s;
	overflow: hidden;
}

#DropDownProjects {
	z-index: 50;
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #DBD5D5;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 40%;
	transition: all 0.5s;
}


#DropDownAbout {
	z-index: 50;
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #DBD5D5;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 55%;
	transition: all 0.5s;
}

#DropDownLinks {
	z-index: 50;
	position: absolute;
	margin: 0; padding: 0;
	text-align: center;
	line-height: 50px;
	height: 0;
	background-color: #DBD5D5;
	overflow: hidden;
	list-style: none;
	width: 15%;
	margin-left: 70%;
	transition: all 0.5s;
}
