#SidebarContent {
	position: fixed;
	margin: 0; padding: 0;
	color: white;
	width: 25%;
	height: 100%;
	text-align: center;
	line-height: 100px;
	list-style: none;
	overflow: hidden;
	cursor: pointer;
}

#SideBar {
	z-index: 1;
	position: fixed;
	top: 10%;
	margin: 0; padding: 0;
	height: 90%;
	background-color: #332D2D;
	width: 25%;
	list-style: none;
	padding-bottom: 100%;
	transition: width 1s;
	opacity: 0.95;
}

#SideBar li {
	transition: color 0.5s;
}

#SidebarContent li:hover {
	margin: 0; padding: 0;
	color: red;
}

#hideSidebar {
	cursor: pointer;
	position: relative;
	background-color: white;
	top: 40%;
	left: 100%;
	width: 0;
	height: 20%;
	border-radius: 0 200px 200px 0;
	transition: width 0.2s;
}

#buttonHide {
	position: absolute;
	opacity: 0;
	left: 100%;
	width: 20px;
	height: 100%;
	bottom: 50%;
}
